*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-height: 100vh;
    background: #D0eaff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product{
    width: 90%;
    max-width: 750px;
    display: flex;

}

.gallery{
    flex-basis: 45;
    background: #241e20;
    
}

.gallery img{
    width: 100%;
    display: block;
    padding-top: 100px;
}