*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-height: 100vh;
    background: #D0eaff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product{
    width: 90%;
    max-width: 750px;
    display: flex;

}

.gallery{
    flex-basis: 47;
    background: #241e20;
    
}

.gallery img{
    width: 100%;
    display: block;
    padding-top: 100px;
    transform: scale(1.08);
    box-shadow: -10px 5px 10px 10px rgba(0,0,0,0.1);
}

.thumbnails{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.thumbnails img{
    width: 60px;
    height: 60px;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.thumbnails img:hover{
    border-color: #333;
}

.details{
    flex-basis: 53%;
    background: #fff;
    padding: 40px;
    background: #fff;
    padding: 40px;
    padding-left: 60px;
    box-shadow: -10px 5px 10px 10px rgba(0,0,0,0.1);
    font-size: 13px;
    font-weight: 500;
    color: #777;
}

.details h1{
    font-size: 35px;
    color: #333;
}

.details h2{
    font-size: 30px;
    color: #555;
    font-weight: 600;
    
}

.details h3{
    font-size: 20px;
    color: #00d874;
    margin-bottom: 20px;
}

.details form{
    font-size: 15px;
    font-weight: 400;
}

.size-select{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.size-select p{
    width: 70px;
}

.size-select input:checked + span{
    color: blue;
    font-weight: 600;
}
.size-select input{
    display: none;
}

.size-select span{
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.color-selector{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.color-selector p{
    width: 75px;
}
.color-selector span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    border: 2px solid #ccc;
}
.color-1{
    background: red;
}
.color-2{
    background: green;
}
.color-3{
    background: blue;
}
.color-4{
    background: yellow;
}

.quantity-selector{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.quantity-selector p{
    width: 75px;
}

.quantity-selector input{
    width: 50px;
    padding: 5px;
    text-align: center;
}

.add-to-cart{
    margin-top: 30px;
    padding: 10px 20px;
    background: #00d874;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.add-to-cart:hover{
    background: #00b864;
}

@media (max-width: 768px){
    .product{
        flex-direction: column;
    }
    .gallery{
        flex-basis: auto;
        margin-bottom: 20px;
    }
    .details{
        flex-basis: auto;
        padding: 20px;
        padding-left: 20px;
    }
    .gallery img{
        padding-top: 50px;
        transform: scale(1);
    }
    .thumbnails img{
        width: 50px;
        height: 50px;
    }
}
